<Doctype html/>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Breast Diagnostic System</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default" style = "background-color: transparent;">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title=""><font face="Arial" size="3px" color="#4d2ee8"">Home</font></a></li>
          <li><a href="./works.html" title=""><font face="Arial" size="3px" color="#4d2ee8">Systems</font></a></li>
          <li><a href="./cybersecurity.html" title=""><font face="Arial" size="3px" color="#4d2ee8">Cybersecurity</font></a></li>
          <li><a href="./softwareservices.html" title=""><font face="Arial" size="3px" color="#4d2ee8">Software Services</font></a></li>
          <li><a href="./AI.html" title=""><font face="Arial" size="3px" color="#a80a6c">AI</font></a></li>
          <li><a href="./concept_generation.html" title=""><font face="Arial" size="3px" color="#4d2ee8">CAD Concept Generation</font></a></li>
          <li><a href="./about.html" title=""><font face="Arial" size="3px" color="#4d2ee8">About Us</font>
          <li><a href="./contact.html" title=""><font face="Arial" size="3px" color="#4d2ee8">Contact Us</font></a></li>
     
        </ul>
        
        </div> 
    </div>
  </nav>
</header>

<body> 


	 <style>
body {
  background-image: url('./static/assets/images/1398314.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style> 
<br>
<br></br>
<br></br>
<div style = "text-align: center;"><font face="Verdana " size="6px" color="#c9a206">HOGGERVR PTY LTD.</font></br></div>
<br></br>
<br></br>

<br></br>
<div class = "container">
<IMG SRC="./static/assets/images/AI-in-Healthcare-1.jpeg" ALIGN="left"width = "250px" height = "350px" style="margin: 5px 20px 200px 5px; border-radius: 2%;"/><font face="Brush Script MT " size="6px" color="#fff700">Artificial Intelligance for Health</font></br>
<font face="Arial" size="5px" color="#e610e2">Provide humanity with automated, accurate & timely medical image diagnosis</font>
<br></br>
<font face="Arial" size="4px" color="white"><p>Hoggervr's mission is to provide radiologists with the tools they need to make the next leap in patient care. The demand for medical imaging services is continuously increasing, outpacing the supply of qualified radiologists and stretching them to produce more output, without compromising patient care. Only by adopting new technology that significantly enhances the capabilities of radiologists. Hoggervr is empowering radiologists with its revolutionary AI offering which helps health providers manage the ever increasing workload without compromising quality of care.</p>
Most mistakes made by doctors are not because of their level of knowladge but the way they approach patient problems and the healthcare systems that support them.
We work with millions of imaging and correlated clinical records to create high-performance algorithms that automatically detect medical conditions faster, for numerous findings in parallel. 
Over the next few years we expect to release dozens of automated findings and insights to help radiologists provide more comprehensive and accurate outcomes – faster, without compromising quality of care. Our aim is to improve life expectancy in Africa, improve medical diagnosis accuracy and avoiding unnecessary deaths because we care.</font></br>
</div>
<br></br>
<br></br>
<br></br>

<div class = "container">
<IMG SRC="./static/assets/images/AI-future-digital-marketing.png" ALIGN="left"width = "220px" height = "200px" style="margin: 5px 20px 5px 5px; border-radius: 50%;"/><font face="Brush Script MT " size="6px" color="#fff700">
Artificial Intelligence in Digital Marketing</font>
<br></br>
<font face="Arial" size="4px" color="white">The world is improving thanks to Artificial Intelligence (AI). With hoggervr you can benefit from the "disruptive" power of AI that we will apply to your digital marketing. Be an innovator and switch to AI before your competitors! AI is an aggregate of technologies - from Machine Learning to Natural Language Learning - that allow machines to understand huge amount of information, learn and decide scientifically better abd faster. If your company produces and manages tons of data, AI will transform it into knowledge and decision-making power.</font></br>
</div>
<br></br>
<br></br>
<br></br>

<div class = "container">
<IMG SRC="./static/assets/images/19-SEO-tips-to-double-search-traffic-.webp" ALIGN="left"width = "360px" height = "230px" style="margin: 5px 20px 5px 5px; border-radius: 3%;"/><font face="Brush Script MT " size="6px" color="#fff700">Application of Artificial Intelligence in SEO and Marketing</font>
<br></br>
<font face="Arial" size="4px" color="white">Hoggervr we apply the most powerful technologies of Artificial Intelligence to give new answers to marketing questions and carry out activities with high added value. 
When choosing or reviewing images for your website, we must consider that your choices will impact Google SEO. We are able to recognize the origin, the duplication on the web, and the semantic theme of the selected photos, checking their consistency with the message and Brand Equity. In our Digital Marketing services (SEO, SEM, SEA and Web Analytics), machine learning technologies support our consultants and enable them to do business activities in a new and more powerful way. In fact, we belief in collaboration of humans and machines for greater archivement.</font></br>
</div>
<br></br>
<br></br>

<div class = "container">
<IMG SRC="./static/assets/images/20190417133021-Impact-of-Industrial-Automation-on-the-Manufacturing-Sector-Bigstock.jpeg" ALIGN="left"width = "250px" height = "200px" style="margin: 5px 20px 5px 5px; border-radius: 50%;"/><font face="Brush Script MT " size="6px" color="#fff700">Automation</font>
<br></br>
<font face="Arial" size="4px" color="white">You want to cover the whole world(international marketing) with specific information neither it be a product , startup or whatever information through automation of emailing and other mediums of communication. We sell this (usable)marketing tools for very affordable prices .We also can make an advetisement plan according to customer needs.
Creation of social Media artificial intelligance powered bots (Robots) which knows much about your organisation for marketing automation is one of our approach to digital marketing. We also have other diffrent approaches(vectors) to digital marketing which can suit all your digital marketing needs.
</font></br>
</div>
<br></br>
<br></br>
<br></br>

<div class = "container">
<IMG SRC="./static/assets/images/sdrking.jpg" ALIGN="left"width = "220px" height = "180px" style="margin: 5px 20px 80px 5px; border-radius: 20%;"/><font face="Brush Script MT " size="6px" color="#fff700">Artificial Intelligence in Cybersecurity</font>
<br></br>
<font face="Arial" size="4px" color="white">We also utilise and develop artificial intelligence powered cybersecurity tools. These include spam detection, malware detection, electronic commerce credit card fraud detection etc.</font></br>
</div>
<br></br>
<br></br>
<br></br>
<br></br>


<div class = "container">
<IMG SRC="./static/assets/images/Youth-Africa.jpeg" ALIGN="left"width = "330px" height = "200px" style="margin: 5px 20px 5px 5px; border-radius: 5%;"/><font face="Brush Script MT " size="6px" color="#fff700">
Artifcial intelligence in projects and research development</font></br>
<font face="Arial" size="4px" color="white">We carry out any customer required research which might need use of artificial intelligence and develop appropriate application to suit the needs with a proven proof of concept.</font></br>
</div>
<br></br>
<br></br>
<br></br>

</body>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<div>
</div>
<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h6 style = "color: white; text-align: center;">copyright© 2021 hoggervr all rights reserved.</h6>
      </div>
    </div>
  </div>
</footer>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>

<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>


