<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./satic/assets/apple-icon-180x180.png">
  <link href="./assets/favicon.ico" rel="icon">

  <title>Systems</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title=""><font face="Arial" size="3px" color="#0d95bf"">Home</font></a></li>
          <li><a href="./works.html" title=""><font face="Arial" size="3px" color="#f21bf2">Systems</font></a></li>
          <li><a href="./cybersecurity.html" title=""><font face="Arial" size="3px" color="#0d95bf">Cybersecurity</font></a></li>
          <li><a href="./softwareservices.html" title=""><font face="Arial" size="3px" color="#0d95bf">Software Services</font></a></li>
          <li><a href="./AI.html" title=""><font face="Arial" size="3px" color="#0d95bf">AI</font></a></li>
          <li><a href="./concept_generation.html" title=""><font face="Arial" size="3px" color="#0d95bf">CAD Concept Generation</font></a></li>
          <li><a href="./about.html" title=""><font face="Arial" size="3px" color="#0d95bf">About Us</font>
          <li><a href="./contact.html" title=""><font face="Arial" size="3px" color="#0d95bf">Contacts</font></a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center"></br>
        <font face="Brush Script MT" size="18px" color="##0456b5">Systems</font>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">

                      <a href="./work.html" title="">
                        <img src="./static/assets/images/work01-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <font face="Arial" size="6px" color="#0456b5">Covid-19 Induced Pneumonia Diagnostic System.</font></br>
                        <font face="Arial" size="4px" color="#a65691">AI Based Covid-19 Induced Pneumonia Diagonistic System:(CADX)Computer Assisted Diagnostics.</font>
                        <a href="./work.html" title="" class="btn btn-default" style = "background-color: #77c4ed">More...</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./work2.html" title="">
                        <img src="./static/assets/images/work02-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                       <font face="Arial" size="6px" color="#0456b5">Breast Cancer Diagnsostic System.</font></br>
                       <font face="Arial" size="4px" color="#eb54c3">AI Breast Cancer Diagnsostic System implemented by Keras and Tensorflow.</font>
                        <a href="./work2.html" title="" class="btn btn-default" style = "background-color: #77c4ed">More...</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./blockchain.html" title="">
                        <img src="./static/assets/images/blockchain_encrypted_blocks_thinkstock_849254008-100749758-large.jpeg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <font face="Arial" size="6px" color="#0456b5">Blockchain</font></br>
                           <font face="Arial" size="4px" color="#4a024f">The most critical areas in electronic data management (patient data) and all hospital information.</font>
                        <a href="./blockchain.html" title="" class="btn btn-default"  style = "background-color: #77c4ed">More...</a>
                      </div>
                    </div>
                    
                </div>
<!--                <!--/row-->
            </div>
            <!--/item-->
            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="./work.html" class="blue-image-project-hover" style = "background-color: #77c4ed">
                      <img src="./assets/images/work02-hover.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>004/006</h4>
                      <h3>coming soon</h3>
                      <p>coming soon</p>
                      <a href="./work.html" class="btn btn-default">More</a>
                    </div>
                  </div>
                   <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img src="" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>005/006</h4>
                        <h3>coming soon</h3>
                        <p>coming soon</p>
                        <a href="./work.html" class="btn btn-default">More</a>
                      </div>
                    </div>
                    
                    <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img src="./static/assets/images/work03-hover.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>006/006</h4>
                        <h3>coming soon</h3>
                        <p>coming soon</p>
                        <a href="./work.html" class="btn btn-default">More</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->-->
            </div>
            
            <!--/item-->
        </div>
        <!--/carousel-inner--> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>



    <!--/myCarousel-->
    </div>



    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p> copyright ©2021 hoggervr all rights reserved</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>
